apiVersion: apps/v1
kind: Deployment
metadata:
  name: jennodeapp
  labels:
    app: nodejs
spec:
  replicas: 3
  selector:
    matchLabels:
      app: node
      type: prod
  template:
    metadata:
      labels:
        app: node
        type: prod
    spec:
      containers:
        - name: jennodeapp:tagversion
          image: dhr70/jen-node-app:tagversion
          ports:
            - containerPort: 3000
